configuration {
	width: 750;
	lines: 15;
	columns: 1;
	font: "Cascadia Mono 14";
	bw: 0;
	padding: 10;
	eh: 1;
	line-margin: 18;
	separator-style: "solid";
	hide-scrollbar: true;
	theme: "/home/salil/.cache/wal/colors-rofi-dark";
}
